<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div class="form-group">
        <label for="name">Username</label>
        <input type="text" formControlName="username" class="form-control" id="username" name="username"
          placeholder="Enter username">
      </div>
      <div *ngIf="userForm.get('username').touched && userForm.get('username').hasError('required')"
        class="alert alert-danger">Username is required</div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" name="email"
          placeholder="Enter user's email address">
        <div *ngIf="userForm.get('email').touched && userForm.get('email').hasError('required')"
          class="alert alert-danger">Email is required</div>
      </div>
      <div class="form-group">
        <label for="email">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password" name="password"
          placeholder="Enter user's password">
        <div *ngIf="userForm.get('password').touched && userForm.get('password').hasError('required')"
          class="alert alert-danger">Password is required</div>
      </div>
      <button type="submit" [disabled]="!userForm.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>