input.ng-touched.ng-invalid {
    border: 1px red solid;
}

textarea.ng-touched.ng-invalid {
    border: 1px red solid;
}



::placeholder {
    color: #cee;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #cee;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #cee;
  }