<div class="card my-5">
    <div class="card-body">
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm)">
          <div class="form-group">
              <label for="recipe-name">Recipe Name</label>
              <input 
                type="text"
                id="recipe-name"
                class="form-control" 
                formControlName="name"
                placeholder="How do you call your dish?"
              >

              <small 
                class="help-block"
                *ngIf="recipeForm.get('name').touched && recipeForm.get('name').hasError('required')">
                The name is required
              </small>
          </div>

          <div class="mb-4 bg-light">
            <label for="itemGroup">Ingredient List</label> 
            <button type="button" class="btn btn-sm btn-info ml-2" (click)="addItem()">+</button>
            <div formArrayName="ingredientBlock">
                <div class="row small">
                    <div class="col-3"><label for="quantity">Qty</label></div>
                    <div class="col-3"><label for="uom">Measurement</label></div>
                    <div class="col"><label for="ingredient">Ingredient</label></div>
                    <div class="col-1"><label for="extra"></label></div>
                </div>
                <div *ngFor="let item of recipeForm.controls.ingredientBlock['controls']; let i=index" [formGroupName]="i"
                  class="row mb-1">
                    <div class="col-3">
                        <input class="form-control" type="number" formControlName="quantity" id="item{{i}}">
                    </div>
                    <div class="col-3">
                        <input class="form-control" 
                          type="text" formControlName="measurementUnit" 
                          id="item{{i}}" 
                          [ngbTypeahead]="unitsearch"
                          [editable]="false">
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" formControlName="ingredient" id="item{{i}}">
                    </div>
                    <div class="col-1 my-auto">
                        <a [routerLink] (click)="removeItem(i)">X</a>
                    </div>
                </div>
            </div>
          </div>
          <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea 
              rows="5"
              id="instructions"
              class="form-control"
              formControlName="instructions"
              placeholder="This is the place you write your recipe down">
            </textarea> 
            <small 
            class="help-block"
            *ngIf="recipeForm.get('instructions').touched && recipeForm.get('instructions').hasError('required')">
            Instructions are required
          </small>    
          <small 
          class="help-block"
          *ngIf="recipeForm.get('instructions').touched && recipeForm.get('instructions').hasError('minlength')">
          Instructions are too short
        </small>     
        </div>
        <div class="form-group">
            <label for="recipe-link">Web Link</label>
            <input 
              type="url"
              id="recipe-link"
              class="form-control" 
              formControlName="link"
              placeholder="(Optional) Recipe on the Web"
            >
            <!-- <span 
              class="help-block"
              *ngIf="!recipeForm.get('recipe-name').valid"
              >Please enter recipe name</span> -->
        </div>
        <div class="form-group">
          <label for="recipe-link">Image Link</label>
          <input 
            type="url"
            id="recipe-link"
            class="form-control" 
            formControlName="pictureLink"
            placeholder="(Optional) Image on the Web"
          >
          <!-- <span 
            class="help-block"
            *ngIf="!recipeForm.get('recipe-name').valid"
            >Please enter recipe name</span> -->
      </div>
        <div class="btn-group mr-3">
            <button type="submit" 
                class="btn btn-info" [disabled]="!recipeForm.valid">Save Recipe</button>
        </div>                
        <div class="btn-group">
            <button type="button" 
                class="btn btn-secondary pull-right" (click)="resetForm()">Clear</button>
        </div>
      </form>
    </div>
  </div>