<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #ingredientMeasurementForm="ngForm">

      <label for="measurement">Measurement</label>

      <select name="type" id="measurement">
        <option *ngFor="let uom of availableUnitsOfMeasure" value="{{ uom.id }}">{{uom.name}}</option>
      </select>

      <select name="type" id="measurement1">
        <option *ngFor="let ingredient of availableIngredients" value="{{ ingredient.id }}">{{ingredient.name}}</option>
      </select>


      <button type="submit" [disabled]="!ingredientMeasurementForm.form.valid"
              class="btn btn-info">Submit
      </button>
    </form>
  </div>
</div>
