<div class="card my-5">
  <div class="card-body">
    <form [formGroup]="measurementForm" (ngSubmit)="onSubmit();">


      <div class="form-group">
        <select formControlName="measurementId" class="form-control">
          <option value="" disabled selected>Unit of Measurement</option>
          <option *ngFor="let uom of availableUnitsOfMeasure" value="{{ uom.id }}">{{uom.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <select formControlName="ingredientId" class="form-control">
          <option value="" disabled selected>Ingredient</option>
          <option *ngFor="let ingredient of availableIngredients"
                  value="{{ ingredient.id }}">{{ingredient.name}}</option>
        </select>
      </div>


      <button type="submit" [disabled]="!measurementForm.valid"
              class="btn btn-info">Submit
      </button>


    </form>
  </div>
</div>
