<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      Great <img src="../../assets/img/icons8-cooking-book-100.png" class="svg" alt=""> Recipes
    </div>

    <!-- Login Form -->
    <form>
      <label for="login">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      </label>
      <label for="password">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      </label>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

   <!-- Register -->
    <div>
      <a type="submit" class="active" href="#">Register</a>
    </div>

  </div>
</div>
