<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="favicon.ico" class="svg" alt="">
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(); f">
      <div class="form-group">
        <label for="login">
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="username"
                 formControlName="username">
        </label>
      </div>
      <div class="form-group">
        <label for="password">
          <input type="password" id="password" class="fadeIn third" name="login" placeholder="password"
                 formControlName="password">
        </label>
      </div>
      <div class="form-group">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </div>
    </form>


    <!-- Remind Password -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

    <div>
      <a routerLink="../register" class="btn btn-link">Register</a>
    </div>
  </div>
</div>
