<div class="container">
  <a routerLink="/ingredient-measurment" class="btn btn-info mt-3">Add Ingredien-list</a>
</div>
<div class="card my-2">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ingredientMeasurment of ingredientsMeasurment">
        <td>{{ ingredientMeasurment.name }}</td>
        <td>{{ ingredientMeasurment.measurment }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
