<div class="container">
  <a routerLink="/saveingredientsMeasurment" class="btn btn-info mt-3">Add Ingredient to list</a>
</div>
<div class="card my-2">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Ingredient </th>
        <th scope="col">Measurement </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ingredientMeasurement of ingredientMeasurements">
        <td>{{ ingredientMeasurement.ingredient.name }}</td>
        <td>{{ ingredientMeasurement.measurementUnit.name }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
