<nav class="navbar navbar-dark ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="../assets/img/logo.svg" id="logo"></a>
    </div>
  
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/users"><img src="../assets/img/people-24px.svg" class="svg"> Users</a></li>
      <li><a routerLink="/ingredients"><img src="../assets/img/scatter_plot-24px.svg" class="svg"> Ingredients</a></li>
      <li><a routerLink="/uoms"><img src="../assets/img/architecture-24px.svg" class="svg"> Units</a></li>
    </ul>
  </div>
</nav>




<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>