a {
    color: white;
}

ul li {
    display: inline;
    display: block;
    padding: 10px;
  }

.navbar {
    background-color: #17a2b8;
}

.svg {
    display: inline-block;
    width: 1rem;
    overflow: hidden;
    fill: white;
}

#logo {
    display: inline-block;
    width: 7.2rem;
    overflow: hidden;
    fill: aqua; 
}
