<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="ingredientForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="ingredientName"
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Enter ingredient name">
        </div>
 
        <button type="submit" [disabled]="!ingredientForm.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
