
  <div class="container mb-4">
    <a routerLink="/saverecipe" class="btn btn-info mt-3">Add New Recipe</a>
  </div>

  <div class="container" *ngIf="recipes.length>0; else elseBlock">
    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 ">
      <div class="col mb-4 maxwidth text-center" *ngFor="let recipe of recipes">
        <a href="{{'/recipe/' + recipe.id}}" class="text-decoration-none text-dark">
          <div class="card my-card h-100 mb-3 border-info border-2">
            <div class="top-image text-center"><img src="{{recipe.pictureLink?recipe.pictureLink:'../../assets/img/food.jpg'}}"
                class="card-img-top recipe-image cropped-image" alt="..."></div>
            <div class="card-body">
              <h4 class="card-title text-center">{{recipe.name}}</h4>
              <!-- <p class="card-text card-text-subdued">
                {{recipe.instructions.length>70?recipe.instructions.substr(0, 69) + "...":recipe.instructions}}
              </p> -->
            </div>
            <div class="card-footer text-center">
              <p class="card-text">{{
                recipe.recipeIngredients.length>1 ?
                recipe.recipeIngredients.length + ' ingredients' :
                '1 ingredient'
              }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <h5 class="ml-3" *ngIf='!isRequestInProgress'>No recipes loaded.</h5>
    <img *ngIf='isRequestInProgress' src="../../assets/img/loading.gif"  class="d-block else-block">
  </ng-template>