a {
    color: #ddd;
}
a:hover {
    color: #fff;
}


.navbar {
    background-color: #17a2b8;
}

.svg {
    display: inline-block;
    height: .9rem;
    overflow: hidden;
    fill: white;
}

#logo {
    display: inline-block;
    width: 7.5rem;
    overflow: hidden;
    fill: aqua; 
    margin-left: 3rem;
}