/* You can add global styles to this file, and also import other style files */

.invalid-feedback {
  display: block!important;
}


.else-block {
  width: 10rem;
  height: auto;
  margin: 100px auto auto auto;
}