<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../../../favicon.ico" class="svg" alt="">
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(); f">
      <div class="form-group">
        <label for="login">
          <input type="text" id="login" class="fadeIn second" required minlength="4" name="login"
                 placeholder="username" formControlName="username">
        </label>
        <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)"
             class="invalid-feedback">
          Username is required.
        </div>
        <div class="form-group">
          <label for="password">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password"
                   formControlName="password">
          </label>
          <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
               class="invalid-feedback">
            Password is required.
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </div>
      </div>
    </form>

    <div id="formFooter">
      <a routerLink="../register" class="btn btn-link underlineHover" >Register</a>
    </div>

    <!-- Remind Password -->
    <div style="display: none">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>


  </div>
</div>
