<div class="shadow-lg p-3 my-5 bg-white rounded">
    <div class="row">
        <div class="col-md-6 bg-white px-3">
            <h4 class="text-center em-heading padded-3 mt-4">Just another recipe website, <span class="right-question">right</span>?</h4>
            <p class="padded-3">If you're looking for the best recipe website there is, you might as well look somewhere else.
                This place is for those who love simplicity. But basically it's just a fun project.
                With some functionality.
            </p>
            <p class="padded-3">Functionality you can use to write down your favorite recipes and,
                in the future, calculate nutritional value of the food you eat.
                Also in the future, you might be able to search recipes by ingredients.
            </p>
            <a href="/recipes" class="waves">
                <h6 class="text-center em-heading padded-3 my-2 right-question">
                <span style="--i:1;">S</span>
                <span style="--i:2;">e</span>
                <span style="--i:3;">e</span>
                <span style="--i:4;"> </span>
                <span style="--i:5;">o</span>
                <span style="--i:6;">u</span>
                <span style="--i:7;">r</span>
                <span style="--i:8;"> </span>
                <span style="--i:9;">r</span>
                <span style="--i:10;">e</span>
                <span style="--i:11;">c</span>
                <span style="--i:12;">i</span>
                <span style="--i:13;">p</span>
                <span style="--i:14;">e</span>
                <span style="--i:15;">s</span>
                <span style="--i:16;">!</span>
            </h6></a>
        </div>
        <div class="col-md-6 bg-info">
            <img src="../../assets/img/pngwave.png" clas="text-center">
        </div>
    </div>
</div>