<div class="shadow-lg p-3 my-5 bg-white rounded">
    <div class="row">
        <div class="col-md-6 bg-white px-3">
            <h4 class="text-center em-heading padded-3 mt-4">Just another recipe website, <span class="right-question">right</span>?</h4>
            <p class="padded-3">If you're looking for the best recipe website there is, you might as well look somewhere else.
                This place is for those who love simplicity. But basically it's just a fun project.
                With some functionality.
            </p>
            <p class="padded-3">Functionality you can use write down your favorite recipes and,
                in the future, calculate nutritional value of the food you eat.
                Also in the future, you might be able to search recipes by ingredients.
            </p>
            <h6 class="text-center em-heading padded-3 my-2 right-question">Enjoy your stay!</h6>
        </div>
        <div class="col-md-6 bg-info "><img src="../../assets/img/2fork.png"></div>
    </div>
</div>