<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Register Form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(); f">
      <div class="form-group">
        <label for="username">
          <input type="text" [(ngModel)]="user.username" id="username" class="fadeIn second" formControlName="username"
                 placeholder="Enter username">
        </label>
      </div>
      <div class="form-group">
        <label for="email">
          <input type="text" [(ngModel)]="user.email" id="email" class="fadeIn second" formControlName="email"
                 placeholder="Enter email">
        </label>
      </div>
      <div class="form-group">
        <label for="password">
          <input type="text" [(ngModel)]="user.password" id="password" class="fadeIn third" formControlName="password"
                 placeholder="Enter password">
        </label>
      </div>
      <div class="form-group">
        <input routerLink="/login" type="submit" class="fadeIn fourth" value="Register">
      </div>
    </form>
  </div>
</div>


<!--<div>
  <div class="form-group">
    <label for="email">Password</label>
    <input type="text" [(ngModel)]="pwd2"
           placeholder="Enter your password"
           required #password="ngModel">
    <div [hidden]="!password.pristine" class="alert alert-danger">Password is required</div>
  </div>
  <button type="submit" [disabled]="!userForm.form.valid"
          class="btn btn-info">Register
  </button>
</div> -->
